<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
	package="novoda.lib.httpservice" xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.READ_SYNC_STATS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

	<application android:label="teste">

		<uses-library android:name="android.test.runner" />

		<activity android:excludeFromRecents="true" android:label="Testing"
			android:name=".auth.OAuthAccountAuthenticatorActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="oauth-android-linkedin" />
			</intent-filter>
		</activity>


		<activity android:name="novoda.lib.httpservice.TestActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service android:exported="true" android:process=":auth"
			android:name=".auth.OAuthAccountAuthenticatorService">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />
			<meta-data android:name="novoda.lib.httpservice.OAuthInformation"
				android:resource="@xml/oauth" />
		</service>


	</application>
	<instrumentation android:label="Tests for http service"
		android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="novoda.lib.httpservice" />
</manifest>
